.Story-Container {
  line-height: 0.15em;
  padding-bottom: 5em;
}

.Our-Story {
  text-align: center;
}
.PotStickers-container {
  display: flex;
  flex-direction: row;
}

.Specific-text {
  color: #aca358;
  background: transparent;
}