.Nav-container {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  cursor: pointer;
  background-color: transparent;
}

#link {
  padding: 0.55em;
  border-radius: 3%;
}

#link:hover {
  color: white;
  background-color: grey;
}

@media only screen and (max-width: 500px) {
  .Nav-container {
    justify-content: center;
  }
}
