.Carousel-Container {
  color: white;
  line-height: 0.15em;
}

.Welcome-Message {
  padding-top: 11em;
  padding-left: 10em;
  padding-bottom: 3em;
}

.Specific-text {
  color: #aca358;
  background: transparent;
}

@media only screen and (max-width: 500px) {
  .Welcome-Message {
    line-height: normal;
  }
}
