
.CarouselPlaceholder {
  height:950px;
  width: 950px;


.Carousel-img {
  text-align: center;




.Carousel-Container {
  justify-content: center;
  justify-self: center;
  min-height: 950px;
  min-width: auto;

}

