.FindUs-Container {
  line-height: 0.15em;
  display: inline-flex;
  flex-direction: row;
  padding: 4em;
}

.Location {
  color: white;
  background-color: #cb2212;
  padding: 0.75em;
  width: 20em;
  height: 9em;
  border-radius: 1%;
  transform: translate3d(-55px, 65px, 10px) perspective(500px);
}

.Map {
  width: 35em;
}

@media only screen and (max-width: 800px) {
  .Map {
    width: 20em;
  }
  .Location {
    display: none;
  }
  .FindUs-Container {
    display: block;
    padding: none;
  }
  .Map-Child-Container {
    padding: none;
  }
}
