/* .App {
  display: flex;
  flex-direction: column;
} */

.Loader {
  display: flex;
  justify-content: center;
}

/* @media only screen and (max-width: 500px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12em;
  }
} */
