@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+JP&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Dancing-script {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
