.Menu-title-container {
  height: 80vh;
  width: 100vw;
  background-image: url(../Images/Burgergrilling.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Menu-title-text {
  color: white;
  background-color: #cb2212;
  padding: 5px;
  width: 20em;
  border-radius: 1%;
  line-height: 0.15em;
}
